path: /<entity>/fields/<field>/valuePath
options: /<entity>/fields/<field>/options
label: /<entity>/fields/<field>/label
placeholder: /<entity>/fields/<field>/placeholder
value: <path>/value
storedValueList: /<entity>/list/<id>/<field>
storedValueRoot: /<entity>/<field>
error: <path>/error
required: /<entity>/action/errors/store/required/<field>
submit: /<entity>/fields/<field>/submitPath
---
nolist nolabel norequired noerror nomargin fieldstyle fieldclasses noremove labelclasses inline temp patch
---
.measure(:class="inline ? 'flex' : nomargin ? '' : 'mb3'", data-name="entity-select")
  .f5.pv2.pointer(v-if="!nolabel && label", :for="'field-' + path", :class="labelclasses ? labelclasses : inline ? 'mr2' : 'mb1'") {{ label }}

  .db.relative(:class="inline ? '' : nomargin ? '' : 'mb2'")
    select.ph2.db.bg-n1.ba.br1(
      v-if="value !== undefined || (!id && !nolist)",
      type="text",
      :id="'field-' + entity + '-' + field",
      :data-patch="(patch ? patch + ';' : '') + 'add ' + (path + '/' + (temp ? 'temp' : '') + 'timestamp') + ' /time/ms; add ' + (path + '/' + (temp ? 'temp' : '') + 'value') + ' attr.value' + (submit ? ' ; remove ' + submit  : '')"
      v-model="value",
      :class="((!noerror && (!!error || (!!required && !norequired))) ? 'b--d5' : 'b--p1') + (fieldclasses ? ' ' + fieldclasses : '')",
      :style="fieldstyle ? fieldstyle : ''",
      :data-selected="value === undefined ? 'false' : 'true'"
    )
      option(v-if="placeholder", :value="undefined", selected, disabled) {{ placeholder }}
      option(
        v-for="item in options",
        :value="item.id"
      ) {{ item.text }}

    select.pa2.db.bg-n1.ba.br1(
      v-else-if="nolist",
      type="text",
      :id="'field-' + entity + '-' + field",
      :data-patch="(patch ? patch + ';' : '') + 'add ' + (path + '/' + (temp ? 'temp' : '') + 'timestamp') + ' /time/ms; add ' + (path + '/' + (temp ? 'temp' : '') + 'value') + ' attr.value' + (submit ? ' ; remove ' + submit  : '')"
      v-model="storedValueRoot",
      :class="((!noerror && (!!error || (!!required && !norequired))) ? 'b--d5' : 'b--p1') + (fieldclasses ? ' ' + fieldclasses : '')",
      :style="fieldstyle ? fieldstyle : ''"
    )
      option(v-if="placeholder", selected, disabled) {{ placeholder }}
      option(
        v-for="item in options",
        :value="item.id"
      ) {{ item.text }}

    select.pa2.db.bg-n1.ba.br1(
      v-else,
      type="text",
      :id="'field-' + entity + '-' + field",
      :data-patch="(patch ? patch + ';' : '') + 'add ' + (path + '/' + (temp ? 'temp' : '') + 'timestamp') + ' /time/ms; add ' + (path + '/' + (temp ? 'temp' : '') + 'value') + ' attr.value' + (submit ? ' ; remove ' + submit  : '')"
      v-model="storedValueList",
      :class="((!noerror && (!!error || (!!required && !norequired))) ? 'b--d5' : 'b--p1') + (fieldclasses ? ' ' + fieldclasses : '')",
      :style="fieldstyle ? fieldstyle : ''"
    )
      option(v-if="placeholder", selected, disabled) {{ placeholder }}
      option(
        v-for="item in options",
        :value="item.id"
      ) {{ item.text }}

    .absolute.top-0.bottom-0.right-2.fg-d4.flex.items-center.o-50.mr1(
      v-if="value !== undefined && !noremove",
      :data-patch="'remove ' + path + '/value'"
    )
      icon-plus.h1.rotate-45

  .f6(v-if="error && error.isSubmitted") {{ error.message }}
  .f6(v-if="!!required && !norequired") {{ required }}
